body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

.logo {
  position: absolute;
  height: min-content;
  top: 1;
  left: 1;
}

.logo > svg {
  fill: white;
  z-index: -1;
}

.settings {
  position: absolute;
  z-index: 1;
  right: 0;
}

.settings-window {
  display: none;
}

.settings-window > table {
  padding: 9px 18px;
  z-index: 200;
  background: #00000045;
  backdrop-filter: blur(15px);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0 0 0 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.settings-window > table > tbody > tr {
  height: 40px;
}

.settings-window > table > tbody > tr > td:nth-child(1) {
  text-align: right;
  padding-right: 20px;
}

.settings-toggle {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  right: 0;
  width: 34px;
  background: #00000025;
  backdrop-filter: blur(15px);
  border: none;
  border-radius: 8px;
  margin: 4px;
  padding: 7px;
}

.settings-toggle > svg {
  fill: white;
}